<h1>Adnat</h1>
Logged in as Ethan Bard <%= link_to 'Log Out', users_path %>
<br />
<h3>Organization Name Goes Here</h3>
<h4>Shifts</h4>
<table>
    <tr>
        <th>Employee name</th>
        <th>Shift date</th>
        <th>Start time</th>
        <th>Finish time</th>
        <th>Break length (minutes)</th>
        <th>Hours worked</th>
        <th>Shift cost</th>
    </tr>
</table>